@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#f8fafc;
color:#111827;
}

a{
text-decoration:none;
color:inherit;
}

button{
cursor:pointer;
transition:.3s;
}

img{
display:block;
max-width:100%;
}

.container{
max-width:1280px;
margin:auto;
padding-inline:24px;
}
